<div style="color: #333; height: 100%; width: 100%;" height="100%" width="100%" *ngFor="let u of USERS" id="htmlData">
  <table cellspacing="0" style="border-collapse: collapse; padding: 40px; width: 100%;" width="100%">
      <tbody>
          <tr>
              <td width="5px" style="padding: 0;"></td>
              <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                  <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                      <tbody>
                          <tr>
                              <td style="padding: 0;">
                                  <a
                                      href="#"
                                      style="color: #348eda;"
                                      target="_blank"
                                  >
                                 
                                  </a>
                              </td>
                              <td style=" font-size: 12px; padding: 0; text-align: right;" align="right">
                                 
                                  {{u.dateReservation}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td width="5px" style="padding: 0;"></td>
          </tr>

          <tr>
              <td width="5px" style="padding: 0;"></td>
              <td  style="border: 1px solid #000; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                  <table width="100%" style=" border-bottom: 1px solid #eee; border-collapse: collapse;">
                      <tbody>
                          <tr>
                              <td width="50%" style="padding: 20px;"><strong style="color: #333; font-size: 24px;">{{u.annonce.prix}} </strong> DT</td>
                              <td align="right" width="50%" style="padding: 20px;">Thanks for using <span class="il">FRIENDS TRAVEL</span></td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td style="padding: 0;"></td>
              <td width="5px" style="padding: 0;"></td>
          </tr>
          <tr>
              <td width="5px" style="padding: 0;"></td>
              <td style="border: 1px solid #000; border-top: 0; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                  <table cellspacing="0" style="border-collapse: collapse; border-left: 1px solid #000; margin: 0 auto; max-width: 600px;">
                      <tbody>
                          <tr>
                              <td valign="top"  style="padding: 20px;">
                                  <h3
                                      style="
                                          border-bottom: 1px solid #000;
                                          color: #000;
                                          font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
                                          font-size: 18px;
                                          font-weight: bold;
                                          line-height: 1.2;
                                          margin: 0;
                                          margin-bottom: 15px;
                                          padding-bottom: 5px;
                                      "
                                  >
                                  {{u.user.nom}} {{u.user.prenom}}
                                  </h3>
                                  <table cellspacing="0" style="border-collapse: collapse; margin-bottom: 40px;">
                                      <tbody>
                                          <tr>
                                              <td style="padding: 5px 0;">Annonce</td>
                                              <td align="right" style="padding: 5px 0;">{{u.annonce.titre}}</td>
                                          </tr>
                                          <tr>
                                              <td style="padding: 5px 0;">Destination</td>
                                              <td align="right" style="padding: 5px 0;">{{u.annonce.destination}}</td>
                                          </tr>

                                          <tr>
                                              <td style="padding: 5px 0;">Nombre des Nuits</td>
                                              <td align="right" style="padding: 5px 0;">{{test(u.annonce.date_debut,u.annonce.date_fin)      }}  Jour(s)/Nuit(s)</td>
                                          </tr>
                                          <tr>
                                              <td style="padding: 5px 0;">Email</td>
                                              <td align="right" style="padding: 5px 0;">{{u.user.email}}</td>
                                          </tr>
                                          <tr>
                                              <td style="padding: 5px 0;">Prix Annonce</td>
                                              <td align="right" style="padding: 5px 0;">{{u.annonce.prix}} DT</td>
                                          </tr>
                                          <tr>
                                              <td style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0;">Prix Totale</td>
                                              <td align="right" style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0;">{{u.annonce.prix}} DT</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td width="5px" style="padding: 0;"></td>
          </tr>

          <tr style="color: #666; font-size: 12px;">
              <td width="5px" style="padding: 10px 0;"></td>
              <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                  <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                      <tbody>
                          <tr>
                              <td width="40%" valign="top" style="padding: 10px 0;">
                                  <h4 style="margin: 0;">Questions?</h4>
                                  <p style="color: #666; font-size: 12px; font-weight: normal; margin-bottom: 10px;">
                                      
                                      <a
                                          href="#"
                                          style="color: #666;"
                                          target="_blank"
                                      >
                                      Veuillez visiter notre centre d'assistance pour toute question.
                                      </a>
                         
                                      
                                  </p>
                              </td>
                              <td width="10%" style="padding: 10px 0;">&nbsp;</td>
                              <td width="40%" valign="top" style="padding: 10px 0;">
                                  
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
              <td width="5px" style="padding: 10px 0;"></td>
          </tr>
      </tbody>
  </table>

                                  <p style="color: #666; font-size: 12px; font-weight: normal; margin-bottom: 10px;">
                                      <button class="btn btn-success btn-block" (click)="openPDF()">télécharger la facture</button>
                                  </p>
</div>